.transformacion{
  width: 100px;
  height: 100px;
  margin: 3px;
  background-color: aqua;
  /*transform: translate(200px, 200px);*/
  /*transform: rotate(45deg);*/
  /*transform: scale(3);*/
  /*transform: skew(20deg,10deg);*/
  /*transform: rotate(20deg);*/
  /*transform: scale(3,2);*/
  transform: scale() ;
  display-text: none;
}

.transformacion:hover{
  background-color: yellow;
  height: 100px;
  text-align: center;
}
